@font-face {
  font-family: 'Mattone';
  src: url('/Mattone-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Outfit';
  src: url('/Outfit-Regular.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
} 